# =========================
# Entorno Virtual
# =========================
venv/
env/
Lib/
Scripts/
Include/
pyvenv.cfg
.venv-gwo/

# =========================
# Python y Caché
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# =========================
# Archivos de sistema y Editores
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Datos
# =========================

# Datos crudos obtenidos mediante scraping:
# pueden regenerarse y no es necesario versionarlos nuevamente.
src/data/raw/

# En processed ignoramos nuevos archivos por defecto,
# excepto el corpus V2 utilizado por la metodología GWO.
src/data/processed/*
!src/data/processed/perfiles_egreso_etiquetado_v2.csv

# Los resultados científicos de GWO sí se versionan

# =========================
# Variables de Entorno y Seguridad
# =========================
# Súper importante para la Fase 4 cuando conectemos PostgreSQL
.env
.env.local

# Landing
node_modules/
.next/
.env
.env.local