# =========================
# Entorno Virtual
# =========================
venv/
env/
Lib/
Scripts/
Include/
pyvenv.cfg

# =========================
# Python y Caché
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# =========================
# Archivos de sistema y Editores
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Datos generados (NO subir)
# =========================
# Ignoramos la carpeta data que está dentro de src
src/data/raw/
src/data/processed/
src/data/

# =========================
# Variables de Entorno y Seguridad
# =========================
# Súper importante para la Fase 4 cuando conectemos PostgreSQL
.env
.env.local